projectFilesBackup
test_data.rb
**/*Gemfile.lock
**/*.irb-history
/AppSym
PBBi/features/step_definitions/pbbi_accounts.rb
ost/Gemfile.lock
ost/Mocks[!!-~]backup
ost/OST-cal.app
ost/prebuilt
phone.wiremock/start_wiremock.bat
/sbg-mobile-tablet-app.apk
**/*test_servers
SBG.Mobile/*.idea
SBG.Mobile/*.jpg
SBG.Mobile/*.png
.idea
*apk
**/*apk
**/*ipa
**/*.DS_Store
.idea/*
**/screenshot_*
SBG.Mobile/.idea/*
**/*payload
**/.bundle
**/#*
**/.#*
**/*~
report.json
tmp
*.zip
coverage
*.gem
journal/
sandbox/automation_support_scenarios/personas/journal/
sandbox/automation_support_scenarios/personas/John_Smith/Registration/

